@import "../styles"

.about
  padding: 84px 16px 0 16px
  display: flex
  flex-direction: column
  gap: 40px
  // align-items: center
  
  @media ( min-width: 768px )
    width: 60%
    margin: auto

  .aboutText
    display: flex
    flex-direction: column
    gap: 16px

    p
      text-align: justify

  .aboutExperience
    display: flex
    flex-direction: column
    gap: 32px

    .title
      font-size: 48px

    .stroke
      -webkit-text-stroke: 1px white

    .freelanceTitle .stroke
      -webkit-text-stroke: 1px $primary-color

  .aboutEducation
    display: flex
    flex-direction: column
    gap: 24px

    .modulos
      font-family: $main-font
      color: $primary-color
      border: 1px solid $primary-color
      border-radius: 16px
      font-size: 24px
      padding: 4px 24px
      text-transform: uppercase
      display: none

    .btn
      display: none

    .title
      font-size: 48px

    .experience
      display: flex
      flex-direction: column
      gap: 12px

      .experienceJob
        font-size: 24px
        color: $primary-color
        font-weight: 800

  .aboutOtherCourses
    display: flex
    flex-direction: column
    gap: 32px

    .title
      font-size: 48px

    .courses
      display: flex
      justify-content: space-between
      gap: 16px

      .course
        flex: 1
        font-weight: 900

    .stroke
      -webkit-text-stroke: 1px white

  .iconsList
    align-self: flex-end
