@import '../styles'

.home
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    height: 100vh
    gap: 32px

    h1
        font-family: $main-font
        font-size: 80px
        line-height: 90%
        margin: 0
        text-align: center
