@import "../styles"
    
.literatvs
    padding: 40px 16px 0 16px
    display: flex
    flex-direction: column
    gap: 32px

    img
        height: 25vh
        object-fit: cover

    .topTags

        .tagItem
            background-color: $primary-color
            color: $background-color
