/* Reset basic styles */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  font-family: sans-serif;
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
}

ul, ol {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button {
  all: unset; /* Remove todas as estilizações padrão do botão */
  cursor: pointer; /* Define o cursor como ponteiro para indicar que é clicável */
  background: none; /* Remove o fundo padrão do botão */
  border: none; /* Remove as bordas do botão */
  padding: 0; /* Remove o padding padrão */
  font-size: 1rem; /* Define um tamanho de fonte básico */
  font-family: inherit; /* Herda a fonte do elemento pai */
  text-align: center; /* Alinha o texto no centro */
  display: inline-block; /* Faz o botão se comportar como um bloco em linha */
  outline: none; /* Remove o contorno ao focar (para browsers que aplicam isso) */
  box-sizing: border-box; /* Garante que o padding e as bordas não afetem as dimensões totais */
}